body, html {
  height: 100%;
  overflow-x: hidden;
}

.backgroundImg1, .backgroundImg2, .backgroundImg3, .backgroundImg4 {
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundImg1 {
  background-image: url("http://i.imgur.com/aydeeIS.jpg");
}
.backgroundImg2 {
  background-image: url("http://i.imgur.com/2aBhjcR.jpg");
}
.backgroundImg3 {
  background-image: url("http://i.imgur.com/0xL2Oxk.jpg");
}
.backgroundImg4 {
  background-image: url("http://i.imgur.com/sB2iC8A.png");
}
.container.navbar-container {
  max-width: 660px;
  padding-top: 10px;
  opacity: 0.9;
 }
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav li {
  float: none;
  display: inline-block;
}
.navbar .navbar-collapse {
  float: left;
  text-align: center;
  margin-left: 40px;
}
#navLinks a {
  color: black;
}
.homePage .row .col-md-2, .homePage .row .col-md-6 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.homePage {
  min-height: 100vh;
}
.homePage .col-md-2.col-md-offset-2, .col-md-6 {
  min-height: 71vh;
}
.aboutPage .row .col-md-6 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.homePage h2, .aboutPage h2 {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3.5px;
}
.homePage h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.5vh;
}
.homePage, .aboutPage p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.5vh;
}
.homePage img {
  margin-top: 10px;
  border: gold 3px solid;
}
.menuPage {
  min-height: 100vh;
}
.menuPage img {
  margin: 0 auto;
  margin-bottom: 10px;
  border: 3px black solid;
}
.aboutPage {
  min-height: 100vh;
}
.aboutPage .col-md-5 {
  margin-top: 100px;
}
.locationPage {
  min-height: 100vh;
}
.locationPage .row .col-md-6 {
  background-color: none;

}
#map {
  height: 400px;
  width: 100%;
}
