html {
  background-color: #2979ff;
}
.pageContainer{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 3vw;
}
.textContainer {
  color: #2979ff;
  background-color: white;
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  height: 50vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.buttonContainer button {
  background-color: #1a237e;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}
